<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Saira+Stencil+One&display=swap" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  <header class="navbar">
      <h1 class ="title">Kit List</h1>
      <div></div>
      <div class ="login">
      <h3 class="login-username"><%=@user.email%></h3>
      <a href='http://localhost:4567/logout_user'>Log out</a>
      </div>
  </header>

  <div class="page">
    <div class="top-cards">
      <div class="left card">
        <form action="http://localhost:4567/new_activity" method="get">
            <label for="activity">Activity</label>
            <input type="text" id="activity" name="activity">
            <button>Add Activity</button>
        </form>
        <ul id="ul" style="list-style-type:none;">
          <%activities = @user.activities%>
          <% if activities.count == 0 %>
            <p>You have no activites, add one above</p>
          <% else %>
          <h3>Select activities to add to your kit-list</h3>
            <%activities.each do |activity|%>
              <% checked = 'checked' if items_to_pack.has_key?(activity.name.to_sym) %>
              <li>
              <a href="http://localhost:4567/edit?activity=<%= activity.name %>" style="display:inline-block">EDIT</a>
              <input type="checkbox" <%= checked %>  name=<%=activity.name%> value=<%=activity.name%>><%=activity.name%>
              <label for="<%=activity.name%>"></label>
              </li>
            <%end%>
          <% end %>
        </ul>
        <p style="display:inline-block">Delete selected activites</p>
        <button id="delete-activity">DELETE</button>
      </div>
      <div class="right card">
        <h2>Your Kit List</h2>
        <div>
          <button id="activity-list-button" class="button-pressed">Activity</button>
          <button id="itemised-list-button">Itemised</button>
        </div>
        <ul id="itemList">
        <% items_to_pack.each do |activity_name, items| %>
          <li class="item-list-activity-name"><%=activity_name%></li>
          <% items.each do |item| %>
            <li><%= item %></li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>

  <script src="scripts_index.js"></script>

</body>
</html>
